
<div class="sign-in">
  <nav class="d-flex justify-contentcenter justify-content-lg-between align items-center">
      <img routerLink="/" src="assets/vendors/imgs/p1.png" alt="logo" class="logo text-center">
  </nav>
  <div class="login-container">
      <h2 class="mb-4">Sign in</h2>
      <form class="login-form" action="#" method="post">
          <div class="form-group mb-4">
              <input class="form-input" placeholder="Email or Mobile phone" type="email" id="email" name="email" required>
          </div>

          <div class="form-group mb-4">
              <input class="form-input" placeholder="Password" type="password" id="password" name="password" required>
          </div>


          <button type="submit" class="login-btn"><a routerLink="/get-1">Sign in</a></button>
          <div class="remember-me mt-2 d-flex justify-content-between align-items-center">
              <div class="lft">
                  <input type="checkbox" id="rememberMe" name="rememberMe">
                  <label for="rememberMe">Remember Me</label>
              </div>
              <div class="rit">
                  <a href="">Need help?</a>
              </div>
          </div>
          <p class="mt-4">New to Netflix? <a href="">Sign up now.</a></p>
      </form>
  </div>
</div>

